.receitas {
    background: #E5E5E5;
    display: flex; /*Alinhar os elementos um ao lado do outro.*/
    flex-wrap: wrap; /* Quebra de linhas em colunas automaticamente. */
    padding: 5rem 0 0 5rem;
}